.App {
	text-align: center;
	margin-bottom: 150px;
}

.App-logo {
	height: 40vmin;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #09d3ac;
}

.game-wrapper {
	display: grid;
	grid-template-columns: repeat(5, 250px);
	justify-content: center;
	margin-top: 50px;
	grid-gap: 10px;
	.row-wrapper {
		min-height: 820px;
		background: coral;
		position: relative;
		overflow: hidden;
	}
}
.button-wrapper {
	display: flex;
	justify-content: center;
	margin-top: 50px;
	button {
		width: 150px;
		height: 100px;
		border-radius: 50px;
		outline: none;
		border: none;
		background: #e74c3c;
		color: white;
	}
}
.row-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		margin: 30px;
	}
	.row-masker {
		&.active-scroll {
			position: absolute;
			animation: scroll-top-bottom 2s;
		}
	}
}

@keyframes scroll-top-bottom {
	from {
		top: -1500px;
	}
	to {
		top: 0;
	}
}
